html {
    font-family: "Barlow";
}
body {
    background-color: var(--main-color);
    color: var(--main-text-color);

    display: flex;
    flex-direction: column;

    margin: 0;
    text-align: center;
}

header {
    background-color: var(--secondary-color);

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: sticky;

    text-align: center;
    height: 10vh;
    width: 100%;
}

header h1 {
    grid-column: 2;

    place-self: center;
}

header a:first-child {
    opacity: 0;
    user-select: none;
}

header a {
    right: 0;
    padding-right: 5%;

    place-self: center end;
}

header a img {
    height: 3vh;
    padding: 5%;
}

header a button {
    background: none;
    border: none;
    transition: all .2s ease-in-out;
    border-radius: 15px;
}

header a button:hover {
    background-color: var(--accent-color);
}

header a button:hover img {
    transform: translateY(5%);
}

main {
    padding: 5%;

    display: flex;
    flex-direction: column;
}

main img {
    height: 50vh;
    width: calc((1604 / 960) * 50vh);
    
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;

    padding: 2vw;

    background-color: var(--main-text-color);
    -webkit-box-shadow: 0px 0px 20px 0px var(--main-text-color);
    -moz-box-shadow: 0px 0px 20px 0px var(--main-text-color);
    box-shadow: 0px 0px 20px 0px var(--main-text-color);
    border-radius: 15px;
}

@media screen and (max-width: 100vh) {
    body h1 {
        font-size: larger;
    }

    main img {
        width: 70vw;
        height: calc(70vw / (1604 / 960));
    }
}

main .hour_teller {
    height: 5vh;
    margin-bottom: 1vh;

    display: grid;

    border-radius: 5px;
}

main .hour_teller h3 {
    height: fit-content;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1%;

    text-shadow: 0 0 8px rgb(0,0,0);
}

main #button-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}

main #button-container button {
    height: 8vh;
    width: 20vh;
    border: none;
    border-radius: 25px;
    background-color: var(--accent-color);
    transition: all .2s ease-in-out;
}

main #button-container button:hover {
    transform: scale(1.1);
    background-color: red;
}

main section header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    position: relative;
}

main section table {
    width: calc(100% - 2px);
}

main section table div {
    border: 1px solid var(--secondary-color);
    width: 100%;
}

main section table div:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}