html {
    font-family: "Barlow";
}

body {
    background-color: var(--main-color);
    color: var(--main-text-color);

    display: flex;
    flex-direction: column;

    margin: 0;
    text-align: center;
}

header {
    background-color: var(--secondary-color);

    display: grid;
    position: sticky;

    text-align: center;
    height: 10vh;
    min-height: fit-content;
    width: 100%;
}

header h1 {
    margin: 0;
    place-self: center;
    color: var(--main-text-color);
}

@media screen and (max-height: 30em) {
    header h1 {
        font-size: large;
    }
}

@media screen and (max-height: 15em) {
    header h1 {
        font-size: medium;
    }
}

header a:first-child {
    user-select: none;
}

header a {
    right: 0;

    place-self: center;
}

header a img {
    height: 3vh;
    padding: 5%;
}

header a button {
    background: none;
    border: none;
    transition: all .2s ease-in-out;
    border-radius: 10px;
}

header a button:hover {
    background-color: var(--accent-color);
}

header a button:hover img {
    transform: translateY(5%);
}

main {
    padding: 5%;
    padding-top: 2%;

    display: flex;
    flex-direction: column;
}

main img {
    height: 25vh;
    width: auto;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;

    padding: 2vw;

    background-color: var(--main-text-color);
    -webkit-box-shadow: 0px 0px 20px 0px var(--main-text-color);
    -moz-box-shadow: 0px 0px 20px 0px var(--main-text-color);
    box-shadow: 0px 0px 20px 0px var(--main-text-color);
    border-radius: 15px;
}

main #button-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}

main #button-container button {
    height: 8vh;
    width: 20vw;
    min-width: 15em;
    border: none;
    border-radius: 15px;
    color: var(--main-text-color);
    background-color: var(--accent-color);
    text-shadow: 0 0 7px rgb(0,0,0);
    transition: all .2s ease-in-out;
}

main #button-container button:hover {
    transform: scale(1.1);
    background-color: lightblue;
}

main section header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    position: relative;
}

main section table {
    width: calc(100% - 2px);
}

main section table a {
    width: 100%;
    color: var(--main-text-color);
}

main section table div {
    border: 1px solid var(--secondary-color);
    width: 100%;
    margin-bottom: 5px;
    border-top: 5px solid var(--secondary-color);
    columns: var(--main-text-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main section table div:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main section table div :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

main section table div :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

main section table div :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
}

main section table div :nth-child(4) {
    grid-column: 1;
    grid-row: 4;
}

main section table div :nth-child(5) {
    grid-column: 1;
    grid-row: 5;
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
}

main section table div :nth-child(6) {
    grid-column: 1;
    grid-row: 6;
}

main section table div :nth-child(7) {
    grid-column: 1;
    grid-row: 7;
}

main section table div :nth-child(8) {
    grid-column: 2;
    grid-row: 1;
}

main section table div :nth-child(9) {
    grid-column: 2;
    grid-row: 2 / 8;
}

main section table div :nth-child(10) {
    grid-column: 3;
    grid-row: 1 / 4;
    background-color: var(--good-color);
    font-size: larger;
    font-weight: bold;
    transition: all .2s ease-in;
}

main section table div :nth-child(10):hover {
    background-color: var(--good-color);
    font-size: xx-large;
}

main section table div :nth-child(11) {
    grid-column: 3;
    grid-row: 4 / 8;
    background-color: var(--bad-color);
    font-size: larger;
    font-weight: bold;
    transition: all .2s ease-in;
}

main section table div :nth-child(11):hover {
    background-color: var(--bad-color);
    font-size: xx-large;
}

main section table div.none p {
    grid-column: 1 / -1;
}

main section table div :nth-child(10) {
    grid-column: 3;
    grid-row: 1 / 8;
    background-color: var(--bad-color);
    font-size: larger;
    font-weight: bold;
    transition: all .2s ease-in;
}

main section table div :nth-child(10):hover {
    background-color: var(--bad-color);
    font-size: xx-large;
}

@media screen and (max-width: 100vh) {
    body h1 {
        font-size: larger;
    }

    main {
        padding-top: 5%;
    }

    main img {
        width: 70vw;
        height: auto;
    }

    main section table div {
        display: flex;
        flex-direction: column;
    }
}